<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>User Dashboard</title>
</head>

<body>
	<section>
		<div class="card mr-3 ml-3">
			<div class="card-body">
				<h1 class="text-center">Add Contact</h1>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-8 offset-md-2">

							<!-- Display Success Message -->
							<div th:if="${success}" class="alert alert-success text-center">
								<p th:text="${success}"></p>
							</div>

							<!-- Display Error Message -->
							<div th:if="${error}" class="alert alert-danger text-center">
								<p th:text="${error}"></p>
							</div>

							<form th:object="${contact}" enctype="multipart/form-data" method="post"
								th:action="@{/processContact}" class="mt-2">

								<!-- First name -->
								<div class="mb-3">
									<label class="form-label">First Name:</label>
									<input type="text" class="form-control" th:field="*{name}"
										placeholder="Enter Name here" required>
									<div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
									</div>
								</div>

								<!-- Second name -->
								<div class="mb-3">
									<label class="form-label">Nick Name:</label>
									<input type="text" class="form-control" th:field="*{secondName}"
										placeholder="Enter Nick Name here">
								</div>

								<!-- Phone Field -->
								<div class="mb-3">
									<label class="form-label">Phone:</label>
									<input type="number" class="form-control" th:field="*{phone}"
										placeholder="Enter Phone Number here" required>
									<div class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">
									</div>
								</div>

								<!-- Email Field -->
								<div class="mb-3">
									<label class="form-label">Email:</label>
									<input type="email" class="form-control" th:field="*{email}"
										placeholder="Enter email here" required>
									<div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
									</div>
								</div>

								<!-- Work Field -->
								<div class="mb-3">
									<label class="form-label">Work:</label>
									<input type="text" class="form-control" th:field="*{work}"
										placeholder="Enter work here" required>
								</div>

								<!-- Contact description Field -->
								<div class="mb-3">
									<label class="form-label">Contact Description:</label>
									<textarea th:field="*{description}" class="form-control" rows="5"
										placeholder="Enter Contact description" required></textarea>
								</div>

								<!-- Contact image -->
								<div class="mb-3">
									<label class="form-label">Profile Image:</label>
									<input type="file" class="form-control" name="profileImage" required
										accept="image/*">
									<div class="text-danger" th:if="${errorImage}" th:text="${errorImage}"></div>
								</div>


								<div class="text-center">
									<button type="submit" class="btn btn-primary">Save Contact</button>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script>
			$(document).ready(() => {
				$(".item").removeClass("active");
				$('#add-link').addClass("active");
			});
		</script>

	</section>
</body>

</html>