body {
	background: #e2e2e2 !important;
}

.bg-primary {
	background: #009688 !important;
}

nav {
	position: absolute;
}

.banner {
	width: 100%;
	height: 92.3vh;
	background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
		url(../image/banner.jpg);
	background-size: cover;
	color: white;
}

/* Sidebar style */
@media only screen and (max-width: 600px) {
	.sidebar {
		display: none;
		width: 80% !important;
		background: white;
		height: 100vh;
		position: fixed;
		padding-top: 20px;
	}
	.content{
	   margin-left: 0% !important;
	}
}

.sidebar {
	width: 18%;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 45px;
	z-index: 99999999999999999999; 
}

.sidebar a {
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: gray;
	/*color: red;*/
}

.sidebar a:hover {
	background: #e2e2e2;
}

.sidebar .divider {
	height: 0.5px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 10px;
}

.sidebar .crossBtn{
	position: absolute;
	top: 0px;
	right: 35px;
	font-size: 36px;
	cursor: pointer;
}

.content {
	margin-left: 20%;
}

.myProfilePicture{
	width: 35px;
	height: 35px;
	object-fit:cover;
	border-radius: 50%;
}
.myProfilePicture2{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.myProfilePicture3{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

/* search css */
.search-container{
	position: relative;
}
.search-result{
	position: absolute; 
	background: white;
	width: 100%;
	padding: 10px;
	border: 1px solid gray;
	display: none;
}

.active{
	background: #009688 !important;
	color: white !important;
}

